<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerIP" value="192.168.1.1"/>
		<add key="AppName" value="TinyGameStore"/>
	</appSettings>
	<connectionStrings>
		<add name="GamesDBPath" providerName="System.Data.SQLite" connectionString="GameDb.db;"/>
	</connectionStrings>
</configuration>