@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);


#contact-form {
    margin: 20px 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#contact-form .container {
    display: flex;
    margin-bottom: 20px;
}

#contact-form .item {
    width: 50%;
}

#contact-form .item:nth-of-type(2n+2) {
    margin-left: 20px;
}

#contact-form label {
    display: block;
    width: 100%;
    padding: 5px 0;
}

#contact-form input {
    width: 100%;
    padding: 10px;
}

#contact-form textarea {
    width: 100%;
    padding: 10px;
    height: 100px;
}

#contact-form .button {
    width: 150px;
    background-color: #E97820;
    color: #ffffff;
    font-weight: bold;
    border: none;
    box-shadow: 3px 3px 10px 1px rgba(227, 227, 227, 0.7);
    padding: 10px;
    margin: 20px 0;
}

#contacts {
    margin-top: 40px;
}

#contacts .contacts-container {
    width: 80%;
}

#contacts .contacts-title {
    color: #3E3F40;
    border-bottom: 1px solid #D3D3D3;
    margin-top: 20px;
}

#contacts i {
    position: relative;
    /**/
    top: 20px;
    /**/
    color: #00B2A9;
    font-weight: bold;
}

#contacts p {
    padding-left: 25px;
    /**/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
}
.akcija{
    position: absolute; 
    right: 10px; 
    top:50px; 
    font-size: x-large; 
    background-color: rgba(255, 0, 0, 40%); 
    color:white; 
    width: 120px; 
    rotate: 45deg;
}
.bold{
    font-weight: bold
}

.ponuda-dugme-1, .ponuda-dugme-2, .ponuda-dugme-3  {
    background-color: rgb(67, 137, 137);
    padding: 6px;
    width: 200px;
    margin-bottom: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
}

#ponuda-div {}

header {
    background: url(images/background.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

header .nav-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

header .nav-primary {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header .nav-primary li {
    padding: 0 10px;
}

header .nav-primary li a {
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

header .header-title {
    padding-top: 200px;
    font-weight: normal;
}

header p {
    padding-bottom: 200px;
}

main {
    width: 100%;
}

main .title {
    text-align: center;
    margin-top: 30px;
}

main .subtitle {
    text-align: center;
    color: #8A8A8A;
    font-size: 0.9em;
    margin-bottom: 30px;
}

#best-offers {
    background-color: #F5F5F5;
    color: #000000;
    padding: 30px 0;
}

#best-offers .offers-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

#best-offers .offer {
    width: 30%;
    background-color: #ffffff;
    border: none;
    box-shadow: 3px 3px 5px 0px rgba(171, 171, 171, 1);
    margin-bottom: 30px;
}

#best-offers .offer img {
    display: block;
    width: 100%;
    margin: auto;

}

.offer-details {
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
    text-align: left;
}



.offer-description {
    clear: both;
}

.offer-destination {
    float: left;   
    font-size: large;
    font-weight: bold;
}

.offer-price {
    float: right;
    font-size: large;
    font-weight: normal;
}

.clients-testimonials {}

.clients-testimonials .clients-testimonials-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.offer-description {
    display: block;
}

.offer-image {
    background-size: cover;
    width: 100%;
    height: 250px;
}

.clients-testimonials .client-feedback {
    width: 30%;
    margin-bottom: 30px;
}

.clients-testimonials .client-feedback img {
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(249, 249, 249, 1);
}

.clients-testimonials .client-feedback .client-message {
    color: #8A8A8A;
    font-size: 0.8em;
    font-style: italic;
}

.clients-testimonials .client-feedback .client-name {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 20px 0;
}

footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #8A8A8A;
    font-size: 0.7em;
    padding: 30px 0;
    margin: auto;
}

footer .footer-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

footer .footer-links li {
    margin-left: 20px;
}

footer .footer-links li a {
    cursor: pointer;
    text-decoration: none;
    color: #8A8A8A;
}

.offer {
    box-sizing: content-box;
    border: 4px solid rgba(0, 0, 0, 0);
    position: relative;
}


.offer-option {
    width: 100%;
    margin-top: 5px;
    height: 25px;
}

#firma
{
    display: block;
  height: 25px;
  width: 200px;  
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  margin-bottom: 5px;
}